@charset "UTF-8";

/* レイアウト確認用アウトライン */
/* * { outline: 2px solid #8f8ead;} */

html {
  font-size: 100%;
}
body {
  color: #2b2a27;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}

/* recipe-group
------------------------------------------- */
.recipe-group {
  display: flex;
  margin-bottom: 60px;
}
.recipe-image {
  width: 50%;
}
.recipe-image img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  vertical-align: bottom;
}
.recipe-body {
  width: 50%;
  padding: 40px 5% 0 5%;
}
.recipe-title {
  font-size: 1.75rem;
  margin-bottom: 20px;
}
.content-title {
  border-bottom: solid 1px #ccc;
  font-size: 1.25rem;
  margin: 40px 0 15px;
  padding-bottom: 5px;
}

/* text
------------------------------------------- */
.text {
  text-align: center;
  margin-bottom: 80px;
}
.text .site-title {
  margin-bottom: 20px;
  font-weight: bold;
}
.material-list{
  display: flex;
  flex-wrap: wrap;
}
dt {
  border-bottom: dotted 1px #ccc;
  width: 85%;
  padding: 6px 0;
}
dd {
  border-bottom: dotted 1px #ccc;
  width: 15%;
  text-align: right;
  padding: 6px 0;
}
.cook-list li {
  border-bottom: dotted 1px #ccc;
  margin-left: 20px;
  padding: 6px 0;
}

/* button
------------------------------------------- */
.btn {
  display: inline-block;
  padding: 18px 60px;
  border: #2b2a27 solid 1px;
  font-size: 0.875rem;
  color: #2b2a27;
  text-decoration: none;
}
/* footer
------------------------------------------- */
#footer {
  padding: 20px;
  text-align: center;
  font-size: 0.75rem;
}
#footer .sns-link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#footer .sns-link li {
  margin: 0 10px;
  color: #2b2a27;
}
#footer .sns-link li a {
  color: #2b2a27;
}

/* メディアクエリ
------------------------------------------- */
@media screen and (max-width: 834px) {

}