@charset "UTF-8";

/* レイアウト確認用アウトライン */
/* * { outline: 2px solid #8f8ead;} */

html {
  font-size: 100%;
}
body {
  color: #2b2a27;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}

/* text
------------------------------------------- */
.text {
  text-align: center;
  margin-bottom: 80px;
}
.text .site-title {
  margin-bottom: 20px;
  font-weight: bold;
}

/* button
------------------------------------------- */
.btn {
  display: inline-block;
  padding: 18px 60px;
  border: #2b2a27 solid 1px;
  font-size: 0.875rem;
  color: #2b2a27;
  text-decoration: none;
}
/* footer
------------------------------------------- */
#footer {
  padding: 20px;
  text-align: center;
  font-size: 0.75rem;
}
#footer .sns-link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#footer .sns-link li {
  margin: 0 10px;
  color: #2b2a27;
}
#footer .sns-link li a {
  color: #2b2a27;
}

/* メディアクエリ
------------------------------------------- */
@media screen and (max-width: 834px) {

}